<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsy.record.dao.AssetsHistoryMapper">

    <sql id="tableName">assets_history</sql>

    <sql id="columns_no_id">
        amount, create_time
    </sql>

    <sql id="columns">
        id, <include refid="columns_no_id"/>
    </sql>

    <sql id="columns_join">
        a.id, a.amount, a.create_time
    </sql>

    <sql id="likeWhere" databaseId="mysql">
    </sql>

    <sql id="dynamicWhere">
        <where>
            <if test="amount not in {null, ''}">a.amount = #{amount}</if>
            <if test="createTime not in {null, ''}">AND a.create_time = #{createTime}</if>
            <if test="startTime not in {null, ''}">
                AND <![CDATA[create_time >= #{startTime}]]>
            </if>
            <if test="endTime not in {null, ''}">
                AND <![CDATA[create_time <= #{endTime}]]>
            </if>
            <include refid="likeWhere"/>
        </where>
    </sql>

    <select id="get" resultType="AssetsHistory" parameterType="long">
        SELECT <include refid="columns_join"/>
        FROM <include refid="tableName"/> a
        WHERE a.id = #{id}
    </select>

    <select id="getByDynamicWhere" resultType="AssetsHistory">
        SELECT <include refid="columns_join"/>
        FROM <include refid="tableName"/> a
        <include refid="dynamicWhere"/>
    </select>

    <select id="getCount" resultType="int">
        SELECT COUNT(1)
        FROM <include refid="tableName"/> a
        <include refid="dynamicWhere"/>
    </select>

    <select id="getList" resultType="AssetsHistory">
        SELECT <include refid="columns_join"/>
        FROM <include refid="tableName"/> a
        <include refid="dynamicWhere"/>
        <if test="fullordering not in {null, ''}">
            ORDER BY ${fullordering}
        </if>
    </select>

    <insert id="insert" parameterType="AssetsHistory" useGeneratedKeys="true"
            keyProperty="id" >
        INSERT IGNORE INTO <include refid="tableName"/>
        (<include refid="columns_no_id"/>)
        VALUES
        (
        #{amount}, #{createTime}
        )
    </insert>

    <update id="update" parameterType="AssetsHistory">
        UPDATE <include refid="tableName"/>
        <set>
            <if test="amount not in {null, ''}">amount=#{amount}, </if>
            <if test="createTime not in {null, ''}">create_time=#{createTime}</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM <include refid="tableName"/> WHERE id = #{id}
    </delete>

    <delete id="batchDelete">
        DELETE FROM <include refid="tableName"/>
        WHERE id IN
        <foreach item="item" index="index" collection="list"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
</mapper>
