<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsy.record.dao.IcoProjectInfoMapper">

    <sql id="tableName">ico_project_info</sql>

    <sql id="columns_no_id">
        uid,name, website,price,symbol,number,remark
    </sql>

    <sql id="columns">
        id, <include refid="columns_no_id"/>
    </sql>

    <sql id="columns_join">
        a.id,  a.uid,a.name, a.website,a.price,a.symbol,a.number,a.remark
    </sql>


    <sql id="dynamicWhere">
        <where>
            <if test="uid != null">uid = #{uid}</if>
            <if test="name != null">AND name = #{name}</if>
            <if test="website != null">AND website = #{website}</if>
            <if test="price != null">AND price = #{price}</if>
            <if test="symbol != null">AND symbol = #{symbol}</if>
            <if test="number != null">AND number = #{number}</if>
            <if test="remark != null">AND remark = #{remark}</if>
        </where>
    </sql>

    <select id="get" resultType="IcoProjectInfo" parameterType="long">
        SELECT <include refid="columns"/>
        FROM <include refid="tableName"/>
        WHERE id = #{id}
    </select>

    <select id="getByDynamicWhere" resultType="IcoProjectInfo">
        SELECT <include refid="columns"/>
        FROM <include refid="tableName"/>
        <include refid="dynamicWhere"/>
    </select>


    <select id="getCount" resultType="int">
        SELECT COUNT(1)
        FROM <include refid="tableName"/>
        <include refid="dynamicWhere"/>
    </select>

    <select id="getSum" resultType="int">
        SELECT sum(a.price_cny*b.number)
        FROM coin_market_cap a,
        ico_project_info b
        WHERE a.id =b.symbol
       <if test="uid != null"> AND b.uid = #{uid}</if>
    </select>

    <select id="getInSum" resultType="int">
        SELECT sum(price)
        FROM ico_project_info
        <if test="uid != null">WHERE uid = #{uid}</if>
    </select>

    <select id="getList" resultType="IcoProjectInfo">
        SELECT <include refid="columns"/>
        FROM <include refid="tableName"/>
        <include refid="dynamicWhere"/>
    </select>

    <select id="getListLeftJoin" resultType="IcoProjectInfo">
        SELECT <include refid="columns_join"/>,b.price_cny AS nowPrice,
        truncate(a.number*b.price_cny,0) AS count,
        ((a.number*b.price_cny-a.price)/a.price)*100 AS percent
        FROM <include refid="tableName"/> a
        LEFT JOIN coin_market_cap b ON a.symbol = b.id
        <include refid="dynamicWhere"/>
    </select>

    <insert id="insert" parameterType="IcoProjectInfo" useGeneratedKeys="true"
            keyProperty="id" >
        INSERT IGNORE INTO <include refid="tableName"/>
        (<include refid="columns_no_id"/>)
        VALUES
        (#{uid},#{name}, #{website}, #{price}, #{symbol},#{number},#{remark})
    </insert>

    <update id="update" parameterType="IcoProjectInfo">
        UPDATE <include refid="tableName"/>
        <set>
            <if test="uid != null">uid=#{uid},</if>
            <if test="name != null">name=#{name},</if>
            <if test="website not in {null, ''}">website=#{website},</if>
            <if test="symbol not in {null, ''}">symbol=#{symbol},</if>
            <if test="price not in {null, ''}">price=#{price},</if>
            <if test="number != null">number=#{number},</if>
            <if test="remark not in {null, ''}">remark=#{remark},</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM <include refid="tableName"/> WHERE id = #{id}
    </delete>


</mapper>